# Godot-specific ignores
.export/
.import/
*.import
*.pck
*.exe
*.zip
*.apk
*.tpz
.godot/

# Godot Mono (C#) specific ignores
.mono/
*.csproj
*.sln
*.userprefs

# VSCode specific ignores
.vscode/
*.code-workspace
.vscode/settings.json

# General ignores
*.tmp
*.bak
*.swp
/tmp/
*~
.DS_Store
Thumbs.db
*.cfg
*.md5

# Godot editor files
.godot/editor/filesystem_update4
.godot/editor/basic_enemy.tscn-editstate-*
.godot/editor/main.tscn-editstate-*
.godot/editor/player.tscn-editstate-*
project.godot